@charset "utf-8";

.sec-field {
  margin-bottom: 42px;
}

.contents-field .contents-title {
  font-size: 24px;
  font-weight: 700;
}

.contents-field .list {
  padding: 18px 27px 0;
  margin-left: -59px;
}

.contents-field .item {
  float: left;
  text-align: center;
  margin-left: 59px;
}

.contents-field .item:last-child {
  margin-right: 0;
}

.contents-field .item a {
  display: block;
}

.contents-field .item .icon {
  display: block;
  width: 85px;
  height: 85px;
  margin-bottom: 12px;
  background: url("../image/icon_contents_field.png") no-repeat;
}

.contents-field .item:nth-child(1) .icon {
  background-position: 0 0;
}

.contents-field .item:nth-child(2) .icon {
  background-position: -85px 0;
}

.contents-field .item:nth-child(3) .icon {
  background-position: -170px 0;
}

.contents-field .item:nth-child(4) .icon {
  background-position: -255px 0;
}

.contents-field .item:nth-child(5) .icon {
  background-position: -340px 0;
}

.contents-field .item:nth-child(6) .icon {
  background-position: -425px 0;
}

.contents-field .item:nth-child(7) .icon {
  background-position: -510px 0;
}

.contents-field .item:nth-child(8) .icon {
  background-position: -595px 0;
}

.contents-field .icon-text {
  font-size: 16px;
}
