@charset "utf-8";

.sec-service {
  margin: 0 0 35px 0;
}

.contents-service {
  position: relative;
}

.contents-service .contents-title {
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #dbdbdb;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.2px;
}

.contents-service .list {
  display: flex;
  justify-content: space-between;
}

.contents-service .list .item {
  height: 90px;
}

.contents-service .list a {
  display: block;
  text-align: center;
  font-size: 15px;
}

.contents-service .icon {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 8px;
  background-image: url("../image/icon_set_service_new.png");
  background-repeat: no-repeat;
}

.contents-service .icon01 {
  background-position: -360px 0;
}

.contents-service .icon02 {
  background-position: 0 0;
}

.contents-service .icon03 {
  background-position: -120px 0;
}

.contents-service .icon04 {
  background-position: -300px 0;
}

.contents-service .icon05 {
  background-position: -180px 0;
}

.contents-service .icon06 {
  background-position: -960px 0;
}

.contents-service .icon07 {
  background-position: -780px 0;
}

.contents-service .icon08 {
  background-position: -1140px 0;
}

.contents-service .icon09 {
  background-position: -1020px 0;
}

.contents-service .icon10 {
  background-position: -60px 0;
}

.contents-service .icon11 {
  background-position: -1200px 0;
}

.contents-service .icon12 {
  background-position: -600px 0;
}

.contents-service .icon-text {
  text-align: center;
  display: block;
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: -0.5px;
}

.contents-service .all-service-link {
  display: block;
  position: absolute;
  top: 2px;
  left: 140px;
  width: 112px;
  height: 29px;
  background-image: url("../image/btn_link_all_service.jpg");
}
